@charset "UTF-8";

*{
	margin: 0;
	box-sizing: border-box;
}
hr {
	margin: 20px 0;
}
#boardList tr>th:not(.title),#boardList tr>td:not(.title) {
	text-align: center;
}
#boardList tr>th:nth-child(1), #boardList tr>td:nth-child(1),
#boardList tr>th:nth-child(3), #boardList tr>td:nth-child(3),
#boardList tr>th:nth-child(5), #boardList tr>td:nth-child(5) {
	width: 5vw;
}
#boardList tr>th:nth-child(4), #boardList tr>td:nth-child(4) {
	width: 15vw;
}
#boardList tr>th:nth-child(2), #boardList tr>td:nth-child(2) {
	width: 80vw;
}
.divBox {
	margin: 20px 0;
}
.link { 
	border: 1px solid;
	border-radius: 5px;
	color: Gray; 
	text-decoration: none; 
	font-weight:bold; 
	width: 100px;
	line-height: 30px;
	text-align: center;
} 
.link:hover { color:DimGray; font-size:1.2em; cursor:pointer; }
.link:active { color:Blue; }

#boardDetail, #boardUpdate {
	width: 70%;
	width: 1100px;
    margin: 0 auto;
}
#boardDetail, #boardUpdate {
	padding: 50px;
}
#boardDetail h3,#boardDetail h4{
	margin: 10px 0;
}
#boardDetail p {
	border: 1px solid;
	width: 100%;
	height: 50vh;
	margin: 20px 0;
}
#boardUpdate p, #boardUpdate span {
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
}
#title,#content {
	font-size: 18px;
	margin-bottom: 20px;
}
#content {
	width: 100%;
	height: 50vh;
} 
#seq,#id,#cnt {
	position: absolute;
	left:-9999px;
}
#content_reply {
	width: 100%;
}
.missingno_under {
	display: flex;
	flex-direction: row-reverse;
}