@charset "UTF-8";
body {
/* 	margin-top: 100px; */
	font-family: 'Trebuchet MS', serif;
	line-height: 1.6
}

.container {
	margin: 0 auto;
	width: 80vw;
	height : 80vh;
}

ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li {
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current {
	background: #ededed;
	color: #222;
}

ul.tabs li span.dis-none {
	display: none;
}

.tab-content {
	display: none;
	background: #ededed;
	padding: 15px;
	width: 100%;
	height : 100%;
	overflow: auto;
}

.tab-content.current {
	display: inherit;
}